button,
.button {
    --background: var(--button);
    --highlight: var(--button-highlight);
    
    padding: 12px 24px !important;

    background-color: var(--background);
    border: 1px solid var(--background);
    border-radius: 8px;
    font-weight: 400;

    display: inline-block;

    color: var(--text);

    transition: 0.2s ease-in-out;

    &.red {
        --highlight: var(--red);
    }

    &.green {
        --highlight: var(--green)
    }

    &:hover {
        background-color: var(--highlight);
        border-color: var(--highlight);
        color: var(--text);
    }

    &:focus {
        transition: none;
    }
}